@model FurniWeb.Models.Product

<h2>Edit Product</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <div>Name: <input asp-for="Name" /></div>
    <div>Price: <input asp-for="Price" /></div>
    <div>Description: <input asp-for="Description" /></div>
    <div>ImageUrl: <input asp-for="ImageUrl" /></div>
    <button type="submit">Update</button>
</form>